# =========================================================================
# CONFIGURACIÓN DEL PROYECTO (DOCKER COMPOSE Y DESARROLLO)
# =========================================================================

# Credenciales de la Base de Datos PostgreSQL
DB_USERNAME=sofi
DB_PASSWORD=hollywood2024
DB_DATABASE=hm4_calculator

# Credenciales de pgAdmin (Administración Web de la BD)
PGADMIN_EMAIL=admin@hm4.com
PGADMIN_PASSWORD=admin
