# ============================
# Database Configuration
# ============================
DB_HOST=localhost
DB_PORT=3000
DB_USERNAME=sofi
DB_PASSWORD=hollywood2024
DB_DATABASE=hm4_calculator

# ============================
# Server Configuration
# ============================
PORT=3001
